body {
    padding-top: 56px; /* Adjust for fixed navbar */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
